.banner-full-page {
    height: 100%;
    text-align: center;
}

.banner-bg-image {
    position: relative;
    width: 100%;
    top: 0;
    z-index: -2;
}

.banner-content {
    position: absolute;
    width: 100%;
    top: 400px;
    z-index: 2;
    color: white;
    text-shadow: 0 0 35px rgba(0,0,0,0.9);
}